@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;700;800&display=swap');
*{
    font-family: 'Mulish', sans-serif;
}


/* universal style */
a{
    text-decoration: none;
    color: white;
}
li{
    text-decoration: none;
}

img{
    width: 100%;
}
body{
    margin: 0;
    padding: 0;
}

header,main{
    max-width: 1170px;
    padding: 8px;
    margin: 0 auto;
}
/* Shared Style */
.flex{
    display: flex;
}
.space-between{
    justify-content: space-between;
}
.space-around{
    justify-content: space-around;
}

.justify-content-center{
    justify-content: center;
}
.align-center{
    align-items: center;
}
.text-primary{
    color: #FF5400 !important;
}
.text-gray{
    color: #5A5A5D;
}
.text-white{
    color: #FFF;
}
.bg-primary{
    background-color: #FF5400;
}

.font-size-40{
    font-size:2.5rem ;
}

.font-size-24{
    font-size: 1.5rem;
}

.font-size-32{
    font-size: 2rem;
}
.font-size-36{
    font-size: 2.2rem;
}
.line-height-26{
    line-height: 1.5rem;
}
.text-center{
    text-align: center;
}
.btn-primary{
    border-radius: 8px;
background: #FF5400;
color: #FFF;
font-weight: 800;
text-align: center;
font-size: 20px;
padding: 14px auto;
border: 0;
}

.border-rounded{
    border-radius: 16px;
}

/* Header Section Desgin */
nav{
    margin-bottom: 50px;
}

.menu a{
    color: #424247;
    font-size: 1.2rem;
    margin-right: 44px;
}
.humburger{
    display: none;
    width: 24px;
    height: 24px;
}
/* banner section */
.banner-section{
    background-image: url(Images/Group\ 13\ \(1\)\ \(1\).png),linear-gradient(180deg, rgba(19, 19, 24, 0.80), rgba(19, 19, 24, 0.00) );
    background-repeat: no-repeat;
     background-position: center;
     background-blend-mode: darken;
     padding: 106px 170px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   
}
.banner-section input,.banner-section select{
    margin-right: 24px;
    padding: 16px;
    border: 0;
    border-radius: 8px;
  
 
}
.banner-section button{
    padding: 16px 35px;
}

.search-section{
    border-radius: 8px;
background: rgba(255, 255, 255, 0.30);
padding: 16px;
}
/* Popular tours */
.popular-tours-section{
    display: grid;
    grid-template-columns: repeat(2,auto);
    justify-content: space-between;
    gap: 2%;
    margin: 100px auto;
  

}
.popular-img img{
    height: 100%;
}

.popular-content p,.popular-content li{
    line-height: 26px;
}
.popular-content button{
    padding: 14px 35px;
}

/* Destination style */

.choose-destination-section >p ,.why-us-section>p{
    margin: 0 auto 48px auto;
    max-width: 643px;
    color: rgba(19, 19, 24, 0.70);
 
    font-size: 16px;
    
    line-height: 26px; 
}
.choose-section-img-container{
    display: grid;
    grid-template-areas: 
    'iOne iOne iOne iOne iOne iOne itwo itwo itwo itwo itwo itwo' 
    'ithree ithree ithree ithree ifour ifour ifour ifour ifour ifive ifive ifive' 
    'isix isix isix isix isix iseven iseven iseven iseven iseven iseven iseven' 
    ;
    gap: 24px;

}

.choose-section-img-container div img{
    height: 300px;
}


.destination-img-card-1{
    grid-area: iOne;
    position: relative;
    
}
.destination-img-card-2{
    grid-area: itwo;
    position: relative;

}
.destination-img-card-3{
    grid-area: ithree;
    position: relative;

}
.destination-img-card-4{
    grid-area: ifour;
    position: relative;

}
.destination-img-card-5{
    grid-area: ifive;
    position: relative;

}
.destination-img-card-6{
    grid-area: isix;
    position: relative;

}
.destination-img-card-7{
    grid-area: iseven;
    position: relative;

}

.choose-section-img-container div h6{
    margin: 0;
    padding: 0;
    position: absolute;
    top: 45%;
    left: 40%;
    color: white;
    font-size: 20px;
    font-weight: 800;
} 

/* Why Choose us */
.card{
    max-width: 573px;
    padding: 32px;
    border-radius: 16px;
   margin: 24px;

}

.card h6{
    margin: 1rem 0;
}
.card p{
    line-height: 26px;
    color:#5A5A5D ;
    max-width: 486px;
}
.card img{
    width: 64px;
}
.card-1{
    
border: 1px solid rgba(251, 181, 99, 0.20);
background-color: rgba(251, 181, 99, 0.05);

}
.card-2{
   
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);

}
.card-3{
   
 
   
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);

}

/* Deals and discount section */

.deals-section-first-image{
    background-image: url(Images/Group\ 13\ \(1\)\ \(1\).png),linear-gradient(180deg, rgba(19, 19, 24, 0.80), rgba(19, 19, 24, 0.00) );
    background-repeat: no-repeat;
     background-position: center;
     background-blend-mode: darken;
     padding: 106px 170px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   
}

.box-under-deals{
    border-radius: 8px;
background: rgba(255, 255, 255, 0.30);
padding: 16px;
}

/* Simple perfect place */
    
.simple-perfect-section{
    display: grid;
    grid-template-columns: repeat(2,50%);
    justify-content: space-between;
    margin: 100px auto;
}
.simple-perfect-img img{
    height: 100%;
}

.simple-perfect-img{
    position: relative;
}

.simple-perfect-img h6{
    margin: 0;
    padding: 0;
    position: absolute;
    top: 45%;
    left: 25%;
    color: white;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
}


.simple-perfect-content p,.simple-perfect-content li{
    line-height: 26px;
}
.simple-perfect-content li{
    font-weight: 700;
} 
.simple-perfect-section button{
    padding: 14px 35px;
}
.simple-perfect-content{
    padding-right: 9%;
}


/* Newsletter style */
.newsletter-section{
    display: grid;
    grid-template-columns: 34% 62%;
 gap: 4%;
    margin: 100px auto;
}
   .newsletter-content{
    display: flex;
    
    flex-direction: column;
    padding: 4%;
    border-radius: 16px;
border: 1px solid #FF5400;
   }
   .newsletter-section,.simple-perfect-section{
    padding: 1%;
   }
   .newsletter-content input{
    padding: 16px 20px;
    margin: 16px 0;
    border: 0;
    border-radius: 8px;
background-color: rgba(19, 19, 24, 0.05);
   }
   .newsletter-content p{
    max-width: 350px;
   }
   .newsletter-content button{
    padding: 16px 0;
   }
   .newsletter-content h6{
    margin: 0 0 16px 0;
   }
 .newsletter-img{
    position: relative;
 }
 .newsletter-img img{
    height: 100%;
 }
 .save-up{
    position: absolute;
    text-align: center;
    color: white;
    border-radius: 16px;
    top: 53%;
    left: 48%;
    transform: rotate(-19.628deg);
    padding: 4%;
    
 }
 .save-up h3{
   
    margin: 4px;
    font-weight: 800;
 }
 .save-up p{
    margin: 0;
 }

/* footer style */
.logo img{
    width: 46px;
    height: 40px;
    margin-right: 9px;
 
}
footer{
    background-color: rgba(19, 19, 24, 0.05);  
    margin: 0;
    padding: 0;
}
footer p{
    margin: 0 auto;
    max-width: 769px;
    padding: 0 44px;
}
footer .logo{
    padding-top: 110px;
}
.footer-content{
    max-width: 872px;
    margin: 0 auto;
}
.icons i{
  font-size: 24px;
    margin: 2%;
}
.copyright{
    color: #131318;
font-size: 16px;
font-weight: 300;
padding-bottom: 110px;
margin-top: 24px;

}

@media screen and (max-width:600px) {
    .humburger{
        display: block;
    }
    .menu{
        display: none;
    }

    .search-section{
       flex-direction: column;
      

    }
    .banner-section{
        background-size: auto 850px;
        padding: 16px 32px;
    }

    .search-section input,.search-section button,.search-section select{
        padding: 16px;
        margin: 16px;
    }
    .popular-tours-section,.simple-perfect-section{
        grid-template-columns: repeat(1,auto);

    }
    .popular-img{
        margin-top: 24px;
    }
  .first-row,.second-row{
    flex-direction: column;
  }
     
  .choose-section-img-container div img{
    max-height: 300px;
}

.choose-section-img-container{

    grid-template-areas: 
    'iOne'
    'itwo' 
    'ithree' 
    'ifour' 
    'ifive' 
    'isix' 
    'iseven' 
    ;

}

.newsletter-section{
   grid-template-columns: repeat(1,1fr);
}



 .save-up h3{
    font-size: 21.138px;
 }
 .save-up p{
    font-size: 15.854px;
 }
 .simple-perfect-img,.newsletter-img{
    margin-top: 4%;
 }
 
 .simple-perfect-content{
    padding-right: 0;
}

.copyright,footer .logo{
  
padding-bottom: 31px;
}


}

@media screen and (min-width:600px) and (max-width:768px) {
    .humburger{
        display: block;
    }
    .menu{
        display: none;
    }

    .search-section{
       flex-direction: column;
      

    }
    .banner-section{
        background-size: auto 552px;
        padding: 16px 32px;
    }
    .search-section input,.search-section button,.search-section select{
        padding: 16px;
        margin: 16px;
      
       
    }
    


    .popular-tours-section,.simple-perfect-section{
  
        grid-template-columns: repeat(1,auto);
    }


    .popular-img{
        margin-top: 24px;
    }
    .simple-perfect-img,.newsletter-img{
        margin-top: 4%;
     }
     
     .simple-perfect-content{
        padding-right: 0;
    }
    
    .choose-section-img-container div img{
        max-height: 300px;
    }
    
    .choose-section-img-container{
    
        grid-template-areas: 
        'iOne'
        'itwo' 
        'ithree' 
        'ifour' 
        'ifive' 
        'isix' 
        'iseven' 
        ;
    
    }
    .newsletter-section{
        text-align: center;
        grid-template-columns: repeat(1,1fr);
     }
   .newsletter-section p{
    margin: 0 auto;
   }
   .save-up h3{
    font-size: 25px;
}
    
}

@media screen and (min-width:769px) and (max-width:991px) {
    .save-up h3{
        font-size: 25px;
    }
   .banner-section{
    padding: auto;
   }

    
}
@media screen and (min-width:992px) and (max-width:1200px) {
    .save-up h3{
        font-size: 28px;
    }
    
}