@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;700;800&display=swap');
*{
    font-family: 'Mulish', sans-serif;
}

/* universal style */
a{
    text-decoration: none;
    color: white;
}
li{
    text-decoration: none;
}

img{
    width: 100%;
}

header,main{
    max-width: 1170px;
    margin: 0 auto;
}
/* Shared Style */
.flex{
    display: flex;
}
.space-between{
    justify-content: space-between;
}
.space-around{
    justify-content: space-around;
}

.justify-content-center{
    justify-content: center;
}
.align-center{
    align-items: center;
}
.text-primary{
    color: #FF5400 !important;
}
.text-gray{
    color: #5A5A5D;
}
.text-white{
    color: #FFF;
}
.bg-primary{
    background-color: #FF5400;
}

.font-size-40{
    font-size:2.5rem ;
}

.font-size-24{
    font-size: 1.5rem;
}

.font-size-32{
    font-size: 2rem;
}
.font-size-36{
    font-size: 2.2rem;
}
.text-center{
    text-align: center;
}
.btn-primary{
    border-radius: 8px;
background: #FF5400;
color: #FFF;
font-weight: 800;
text-align: center;
font-size: 20px;
padding: 14px auto;
border: 0;
}

.border-rounded{
    border-radius: 16px;
}

/* Header Section Desgin */
nav{
    margin-bottom: 50px;
}

.menu a{
    color: #424247;
    font-size: 1.2rem;
    margin-right: 44px;
}
.humburger{
    display: none;
    width: 24px;
    height: 24px;
}
/* banner section */
.banner-section{
    background-image: url(Images/Group\ 13\ \(1\)\ \(1\).png),linear-gradient(180deg, rgba(19, 19, 24, 0.80), rgba(19, 19, 24, 0.00) );
    background-repeat: no-repeat;
     background-position: center;
     background-blend-mode: darken;
     padding: 106px 170px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   
}
.banner-section input,.banner-section select{
    margin-right: 24px;
    padding: 16px;
    border: 0;
    border-radius: 8px;
 
}

.search-section{
    border-radius: 8px;
background: rgba(255, 255, 255, 0.30);
padding: 16px;
}
/* Popular tours */
.popular-tours-section{
    display: grid;
    grid-template-columns: repeat(2,540px);
    justify-content: space-between;
    margin: 100px auto;
  

}

.popular-content p,.popular-content li{
    line-height: 26px;
}
.popular-content button{
    padding: 14px 35px;
}

@media screen and (max-width:600px) {
    .humburger{
        display: block;
    }
    .menu{
        display: none;
    }

    .search-section{
       flex-direction: column;
      

    }
    .banner-section{
        background-size: auto 850px;
        padding: 16px 32px;
    }

    .search-section input,.search-section button,.search-section select{
        margin: 16px;
    }
    .popular-tours-section{
        grid-template-columns: repeat(1,auto);

    }
    .popular-img{
        margin-top: 24px;
    }
  
    
}
@media screen and (min-width:601px) and (max-width:991px) {
    
}