/* universal style */
a{
    text-decoration: none;
    color: white;
}

img{
    width: 100%;
}
/* Shared Style */
.flex{
    display: flex;
}
.text-primary{
    color: #FF5400;
}
.bg-primary{
    background-color: #FF5400;
}

.font-size-40{
    font-size:2.5rem ;
}

.font-size-24{
    font-size: 1.5rem;
}

.font-size-32{
    font-size: 2rem;
}

.btn-primary{
    border-radius: 8px;
background: #FF5400;
color: #FFF;
font-weight: 800;
text-align: center;
font-size: 20px;
padding: 14px auto;
}

.border-rounded{
    border-radius: 16px;
}